.order-group {
	margin-bottom: 1rem;
	background-color: #ffffff;
	border-radius: 1rem 1rem 0 0;
}
.order-group .order-group__top {
	padding: 1rem 1rem 1rem 1rem;
	border-radius: 0.5rem 0.5rem 0 0;
}

/*.order-group .t-cell__title {*/
/*	font-weight: bold;*/
/*}*/
.order-group__top___title {
	font-size: 32rpx;
	line-height: 48rpx;
	font-weight: bold;
}
.order-group__top__note {
	font-size: 28rpx;
}
.order-group__content {
	overflow: hidden;
	width: 100%;
	height: 5rem;
	display: flex;
	background-color: #fff;
	border-radius: 0 0 0.5rem 0.5rem;
}
.order-group__item {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
	font-size: 1.2rem;
}
.order-group__item:first-child {
	border-radius: 0 0 0 16rpx;
}
.order-group__item:last-child {
	border-radius: 0 0 16rpx 0;
}
.order-group__item__title {
	font-size: 24rpx;
	color: #666;
	line-height: 32rpx;
}
.order-group__item__icon {
	margin-bottom: 20rpx;
	width: 56rpx;
	height: 56rpx;
	position: relative;
}
.order-group .t-cell__title {
	font-weight: bold;
}
.order-group .order-group__left {
	margin-right: 0;
}
